<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Luckiest+Guy:wght@400;700&display=swap"
    rel="preload"
    as="style"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Luckiest+Guy:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<style>
  body {
    margin: 0;
    overflow: hidden;
  }
</style>
<script>
  window.addEventListener('load', function () {
    if (!window.infinitris2.loadUrl(window.location.href)) {
      // TODO: URL builder
      document.write(`
        <a href="/?url=ws%3A%2F%2F127.0.0.1%3A9001">Join local server</a><br/>
        <a href="/?url=ws%3A%2F%2F127.0.0.1%3A9001&roomId=1">Join local server - conquest room</a><br/>
        <a href="/?single-player">Single Player</a><br/>
        <a href="/?single-player&world=desert">Single Player - desert world</a><br/>
        <a href="/?single-player&world=volcano">Single Player - volcano world</a><br/>
        <a href="/?single-player&worldVariation=1">Single Player - variation 1</a><br/>
        <a href="/?single-player&worldVariation=2">Single Player - variation 2</a><br/>
        <a href="/?single-player&worldVariation=3">Single Player - variation 3</a><br/>
        <a href="/?single-player&worldVariation=4">Single Player - variation 4</a><br/>
        <a href="/?single-player&gameMode=conquest&numBots=1">Single Player Conquest</a><br/>
        <a href="/?single-player&gameMode=race&numBots=1">Single Player Race</a><br/>
        <a href="/?single-player&numBots=1">Single Player with bots</a><br/>
        <a href="/?single-player&numBots=5&spectate=true">Spectate</a><br/>
        <a href="/?single-player&numBots=0&spectate=true&demo=true">Parallax Demo</a><br/>
        <a href="/?single-player&numBots=5&spectate=true&demo=true&paused=true&initialSteps=1000&gridNumColumns=100">Parallax Demo with Bots (paused)</a><br/>
        <a href="/?single-player&controls=%7B%22MoveLeft%22%3A%22ArrowLeft%22%2C%22MoveRight%22%3A%22ArrowRight%22%2C%22Drop%22%3A%22ArrowUp%22%2C%22MoveDown%22%3A%22ArrowDown%22%2C%22RotateAnticlockwise%22%3A%22z%22%2C%22RotateClockwise%22%3A%22x%22%7D">Single Player with custom controls</a><br/>
        <a href="/?single-player&renderer=minimal">Minimal Renderer</a><br/>
        
        <a href="/?challenge&challengeId=keys-and-locks-1">Challenge - Keys and Locks 1</a><br/>
        <a href="/?challenge&challengeId=think">Challenge - Outside The Box</a><br/>
        <a href="/?challenge&challengeId=basic-movement">Challenge - Basic Movement</a><br/>
        <a href="/?challenge&challengeId=garbage-collection-1">Challenge - Garbage Collection 1</a><br/>
        <a href="/?challenge&challengeId=t-spins-1">Challenge - T spins 1</a><br/>
        <a href="/?challenge&challengeId=wafer-1">Challenge - Wafer 1</a><br/>
        <a href="/?challenge&challengeId=infection-1">Challenge - Infection 1</a><br/>
        <a href="/?challenge&challengeId=infection-2">Challenge - Infection 2</a><br/>
        <a href="/?challenge&challengeId=rock-test">Challenge - Rock Test</a><br/>
        <a href="/?challenge&challengeId=bugfix">Challenge - Bugfix</a><br/>
        <a href="/?challenge&challengeId=new">Challenge - New challenge</a><br/>
    `);
    }
  });
</script>
