<style>
  body {
    margin: 0;
    overflow: hidden;
  }
</style>
<script>
  window.addEventListener('load', function () {
    if (!window.infinitris2.loadUrl(window.location.href)) {
      // TODO: URL builder
      document.write(`
        <a href="/?url=ws%3A%2F%2F127.0.0.1%3A9001">Join local server</a><br/>
        <a href="/?single-player">Single Player</a><br/>
        <a href="/?single-player&controls=%7B%22MoveLeft%22%3A%22ArrowLeft%22%2C%22MoveRight%22%3A%22ArrowRight%22%2C%22Drop%22%3A%22ArrowUp%22%2C%22MoveDown%22%3A%22ArrowDown%22%2C%22RotateAnticlockwise%22%3A%22z%22%2C%22RotateClockwise%22%3A%22x%22%7D">Single Player with custom controls</a><br/>
        
        <a href="/?challenge&challengeId=control-check">Challenge - Control check (keyboard)</a><br/>
        <a href="/?challenge&challengeId=control-check&input=touch">Challenge - Control check (touch)</a><br/>
        <a href="/?challenge&challengeId=keys-and-locks-1">Challenge - Keys and Locks 1</a><br/>
        <a href="/?challenge&challengeId=think">Challenge - Outside The Box</a><br/>
        <a href="/?challenge&challengeId=basic-movement">Challenge - Basic Movement</a><br/>
        <a href="/?challenge&challengeId=garbage-collection-1">Challenge - Garbage Collection 1</a><br/>
        <a href="/?challenge&challengeId=t-spins-1">Challenge - T spins 1</a><br/>
        <a href="/?challenge&challengeId=wafer-1">Challenge - Wafer 1</a><br/>
        <a href="/?challenge&challengeId=infection-1">Challenge - Infection 1</a><br/>
        <a href="/?challenge&challengeId=infection-2">Challenge - Infection 2</a><br/>
        <a href="/?demo">Demo Renderer</a><br/>
    `);
    }
  });
</script>
