# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

*.log

./infinitris2-models
infinitris2-admin-service-key.json

# config variables for local testing
.runtimeconfig.json