*.ts.map
dist
node_modules
*.tsbuildinfo
.nyc_output

client/docs
server/docs

core/**/*.js
core/**/*.js.map
core/**/*.d.ts
core/coverage

server/**/*.js
server/**/*.js.map
server/**/*.d.ts
server/coverage