*.ts.map
dist
node_modules
*.tsbuildinfo
.nyc_output

client/docs
server/docs

core/src/**/*.js
core/src/**/*.js.map
core/src/**/*.d.ts
core/src/**/*.d.ts.map
core/spec/**/*.js
core/spec/**/*.js.map
core/spec/**/*.d.ts
core/spec/**/*.d.ts.map

core/coverage

server/ts-out
server/coverage

client/coverage