REACT_APP_FIREBASE_OPTIONS={"apiKey":"XXXXXX","authDomain":"XXXXXX","databaseURL":"XXXXXX","projectId":"XXXXXX","storageBucket":"XXXXXX","messagingSenderId":"XXXXXX","appId":"XXXXXX","measurementId":"XXXXXX"}
REACT_APP_URL=https://infinitris.online