body > canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

/*body > canvas .demo {
  animation: fadein 2s ease-in forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/

.MuiPaper-root::before {
  display: none !important;
}

.MuiDrawer-paperAnchorBottom {
  max-height: 100% !important;
  /*background: none !important;*/
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
  outline: none !important;
}

.react-swipeable-view-container [aria-hidden='true'] {
  transform: scale(0.9);
  transition: transform 0.3s;
}

.react-swipeable-view-container [aria-hidden='false'] {
  transform: scale(1);
  transition: transform 0.3s;
}
